* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url(landscape-9947733_1280.webp) no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: calc(50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50%);
  pointer-events: none;
}
.logo {
  text-decoration: none;
  font-size: large;
  font-weight: 800;
  color: rgb(5, 3, 0);
}

.navbar a {
  padding: 10px;
  margin: 10px;
  list-style: none;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
#checkbox {
  display: none;
}
.icon {
  position: absolute;
  right: 5%;
  display: none;
  cursor: pointer;
}
.icon #close-icon {
  display: none;
}
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
  #checkbox:checked ~ .icon #menu-icon {
    display: none;
  }
  .icon #close-icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .icon { 
    display: inline-flex;
  }
#checkbox:checked ~ .icon #menu-icon  {
  display: none;
} 
#checkbox:checked ~ .icon #close-icon  {
  display: block;
} 
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50%);
    overflow: hidden;
    transition: 0.3s ease;
  }
  #checkbox:checked ~ .navbar {
    height: 17.7rem;
  }
  .icon #close-icon{
    display: none;
  }
  .navbar a {
    display: block;
    text-align: center;
    transform: translatey(-50%);
    opacity: 0;
    transition: .3s ease;
  }
  #checkbox:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15 * var(--i));
  }
}
